<div class="skills-section">
    <h2>{{ include.title }}</h2>
    <div class="line-items">
        {% for skill in page[include.id] %}
        <div class="feature-row-element">
            <div class="box">
                {% assign image_path = skill.image_name | prepend: "/assets/images/" %}
                <div class="image">
                    <img src="{{ image_path }}" alt="{{ skill.alt }}" />
                </div>
                <h3>{{ skill.title }}</h3>
                <ul>
                    {% for point in skill.points %}
                    <li>{{ point }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>