#main {
  padding: 0;
}

div.faq-container .line-items, div.feature_row_container .line-items>div:nth-of-type(odd) {
  background: #55acee0f;
}
div.faq-container .line-items, div.feature_row_container .line-items>div:nth-of-type(even) {
  background: #e9dcbe4d;
}

div.faq-container .faq {
  padding: 1em;
}
div.faq-container .faq .faq-question {
  font-weight: 400;
  font-size: 1.5em;
}
div.faq-container .faq .faq-answer {
  font-weight: 200;
  font-size: 1em;
}


.feature_row_wide_container, .feature_row_container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.feature_row_product {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  border-bottom: solid #e9dcbe 1px;
}
.feature_row_product .teaser {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 1em;
  max-height: 300px;
  justify-content: space-around;
  align-self: center;
}

div.faq-container span.container-title, .feature_row_wide_container span.container-title, .feature_row_container span.container-title {
    padding: 0.5em;
    font-weight: 600;
    font-size: 1.5em;
    color: #606070;
    background: #f3f3f3;
    text-align: center;
}

@media screen and (min-width:768px) {
  .feature_row_wide_element,  .feature_row_product {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 2em;
      border-bottom: none;
      }

      .feature_row_container span.container-title {
         text-align: left;
      }
 
  }

  .feature_row_wide_element {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
  }

  .feature_row_container .content {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding-left: 2em;
  }

  .feature_row_wide_container span.title, .feature_row_container span.title {
    color: darkblue;
    padding: 1em 0em;
    font-weight: 700;
    font-size: 1.2em;
    color: #606060
  }



  .feature_row_product .description {
    font-size: 1em;
    font-weight: 400;
    color: #606060
  }

  .feature_row_product ul.points {
    list-style-type: square;
    font-size: 1em;
    color: #606060
  }